@import url("https://use.typekit.net/zhx2quv.css");
@import url("https://use.typekit.net/asz2qpd.css");
body{
    margin: auto;
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #51bec4;
}


.form-c{
  
    padding: 3%;
    margin:auto;
    width: 600px;
    background:#1b94a2;
    color:#04314e;
    text-align: center;
}
label{
    display: block;
    padding: 1%;
}

.btn-f{
display: block;
text-align: center;
color: #04314e;
background-color: #51bec4;
margin: auto;
padding: 5px;
}
.banner{
    background-image: url(/img/bannerDisney.png);
   background-repeat: no-repeat;
   background-size: cover;
   height:658px;
 
}
.btnC{
background-color: #04314e;
}

.tituloDisney{
    margin-top: 1px;
    text-align: center;
    margin-right: 30px;
    font-size: 60px;
    color:#04314e;
    font-style: normal;
    font-family: "monarcha", serif;
    font-weight: 700;
    font-style: normal;
}
.contenedorPrincipal{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: auto;
    width: 80%;
}
.contenedorHijo{
    background-color: #1b94a2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 25px;
}
.portada{
  margin-top: 15px;
  border-radius: 5%;

} 
.nombreLibro{
    font-size: 30px; 
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    color: #04314e;
}
.nombreAutor{
    font-family: "monarcha", serif;
    font-weight: 200;
    font-style: normal;
    color: #04314e;
    font-size: 16px;
    
}
.descripcion{
    width: 260px;
    font-size: 20px;
}
.btnAgregar{
    width: 200px;
    background-color: #04314e;
    color: aliceblue;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 15px;
}
.btnAgregar:hover{
    background-color: #2F4C73;
    font-weight: bold;
    cursor: pointer;
}
.crear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
ul{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: auto;
    width: 80%;
}

input[type="submit"]{
    display: block;
    margin: auto;
    margin-top: 3%;
    background-color: #51bec4;
    color: aliceblue;
    width: 80px;
    border-radius: 15px;
    font-size: 13px;
    padding: 5px;
}
