body{
    margin: auto;
}
.contenedorLibros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .contenedor-hijo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.portada{
    width: 186px;
    height: 300px;

}
